
<div class="card-title-group" style="border-radius: none;">
        <button class="btn btn-round btn-xs btn-primary ml-1" (click)="onSave()">
        <i class="fa-solid fa-floppy-disk me-1"></i>
          Save
        </button>
<!--         
            <button class="btn btn btn-primary">
                View Report
            </button> -->
        <!-- } -->

        <!-- @if (buttons.update) { -->
        <button class="btn btn-round btn-xs btn-primary ml-1" (click)="onUpdate()">
        <i class="fa-solid fa-pen-to-square me-1"></i>
          Update
        </button>
        <!-- } -->

        <!-- @if (buttons.authorize) { -->
        <!-- <button class="btn btn-round btn-xs btn-primary ml-1" (click)="onAuthorize()">
          <i class="fa"></i>
          
          Authorize
        </button> -->
        <!-- } -->

        <!-- @if (buttons.reject) { -->
        <!-- <button class="btn btn-round btn-xs btn-primary ml-1" (click)="onReject()">
          <em <i class="fa"></i>
          
          Reject
        </button> -->
        <!-- } -->
   <!-- @if (buttons.viewChanges) { -->
        <!-- <button class="btn btn-round btn-xs btn-primary ml-1 " (click)="onViewChangeHistory()">
          <i class="fa"></i>
          
          View Change History
        </button> -->
        <!-- } -->
        <!-- @if (buttons.useExist) { -->
        <!-- <button class="btn btn-round btn-xs btn-primary ml-1" (click)="onUseExistClick()">
          <em class="icon ni ni-edit  mr-1"></em>
          Use Existing
        </button> -->
        <!-- } -->

        <!-- @if (buttons.reset) { -->
        <button class="btn btn-round btn-xs btn-primary ml-1" (click)="onReset()">
        <i class="fa-solid fa-rotate-right me-1"></i>
          Reset
        </button>
        <!-- } -->

        <!-- <button class="btn btn-round btn-xs btn-primary ml-1" (click)="onBack()">
          <em class="<i class="fa"></i>
          
          Back
        </button> -->
    </div>